# Auto detect text files and perform LF normalization
* text=auto
git init
git add .
git commit -m "Meu portfólio"
git branch -M main
git remote add origin https://github.com/SamuelFerreiraVieira/meu-portfolio.git
git push -u origin main
